<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Page not found">
  <title>404 | {{ title }}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <script src="/script.js" defer></script>
</head>
<body>
{{> nav }}

  <main id="main-content">
    <h1>404</h1>
    <p>{{ content }}</p>
    <p><a href="/">go home</a></p>
  </main>

{{> footer }}
</body>
</html>
